---
http_interactions:
- request:
    method: get
    uri: https://updown.io/api/checks/e4j4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - ePXULY6xLJ5XixzUSybU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"372b91d40e184256d0590fb03550d245"
      X-Proxy-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '{"token":"e4j4","url":"http://github.com","alias":"GitHub","last_status":200,"uptime":99.99,"down":false,"down_since":null,"error":null,"period":15,"apdex_t":0.25,"string_match":"","enabled":true,"published":true,"last_check_at":"2017-12-10T15:11:33Z","next_check_at":"2017-12-10T15:11:48Z","favicon_url":"https://assets-cdn.github.com/favicon.ico"}'
  recorded_at: Sun, 10 Dec 2017 15:11:45 GMT
- request:
    method: get
    uri: https://updown.io/api/checks/e4j4/metrics?from=2017-12-10%2012:00:00%20%2B0100&to=2017-12-10%2014:00:00%20%2B0100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - ePXULY6xLJ5XixzUSybU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"09440c557198851a5d89b326793a838a"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"apdex":0.917,"timings":{"redirect":170,"namelookup":1,"connection":77,"handshake":172,"response":142,"total":563},"requests":{"samples":60,"failures":0,"satisfied":50,"tolerated":10,"by_response_time":{"under125":19,"under250":50,"under500":60,"under1000":60,"under2000":60,"under4000":60}}}'
  recorded_at: Sun, 10 Dec 2017 15:11:47 GMT
recorded_with: VCR 4.0.0
