---
http_interactions:
- request:
    method: get
    uri: https://updown.io/api/checks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - ePXULY6xLJ5XixzUSybU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"2718a50c3ccfee47c68d1000ed1fb8c4"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '[{"token":"e4j4","url":"http://github.com","alias":"GitHub","last_status":200,"uptime":100.0,"down":false,"down_since":null,"error":null,"period":120,"apdex_t":0.25,"string_match":"","enabled":true,"published":true,"last_check_at":"2017-12-10T10:58:36Z","next_check_at":"2017-12-10T11:00:36Z","favicon_url":"https://assets-cdn.github.com/favicon.ico"},{"token":"na7t","url":"http://google.com","alias":"","last_status":200,"uptime":100.0,"down":false,"down_since":null,"error":null,"period":300,"apdex_t":0.5,"string_match":"","enabled":true,"published":false,"last_check_at":"2017-12-10T10:58:47Z","next_check_at":"2017-12-10T11:03:47Z","favicon_url":"http://www.google.ca/images/branding/product/ico/googleg_lodp.ico"},{"token":"qwew","url":"http://twitter.com","alias":"","last_status":200,"uptime":100.0,"down":false,"down_since":null,"error":null,"period":600,"apdex_t":0.5,"string_match":"Welcome
        to Twitter","enabled":false,"published":false,"last_check_at":"2017-12-10T10:04:32Z","next_check_at":"2017-12-10T10:14:32Z","favicon_url":"https://abs.twimg.com/favicons/favicon.ico"}]'
  recorded_at: Sun, 10 Dec 2017 11:00:17 GMT
recorded_with: VCR 4.0.0
