---
http_interactions:
- request:
    method: post
    uri: https://updown.io/api/checks
    body:
      encoding: UTF-8
      string: url=https%3A%2F%2Fnews.ycombinator.com%2F
    headers:
      X-Api-Key:
      - ePXULY6xLJ5XixzUSybU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
      Etag:
      - W/"133465ea5c124bf77f8ad8bb4c7ca18f"
    body:
      encoding: UTF-8
      string: '{"token":"kx8w","url":"https://news.ycombinator.com/","alias":null,"last_status":null,"uptime":100.0,"down":false,"down_since":null,"error":null,"period":60,"apdex_t":0.5,"string_match":null,"enabled":true,"published":false,"last_check_at":null,"next_check_at":"2017-12-10T15:31:31Z","favicon_url":null}'
  recorded_at: Sun, 10 Dec 2017 15:31:31 GMT
recorded_with: VCR 4.0.0
