---
http_interactions:
- request:
    method: post
    uri: https://updown.io/api/checks
    body:
      encoding: UTF-8
      string: period=30&published=true&url=https%3A%2F%2Fnews.ycombinator.com%2F
    headers:
      X-Api-Key:
      - ePXULY6xLJ5XixzUSybU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
      Etag:
      - W/"d9dad17b820ebd5a8e16daf8423134b8"
    body:
      encoding: UTF-8
      string: '{"token":"jx3y","url":"https://news.ycombinator.com/","alias":null,"last_status":null,"uptime":100.0,"down":false,"down_since":null,"error":null,"period":30,"apdex_t":0.5,"string_match":null,"enabled":true,"published":true,"last_check_at":null,"next_check_at":"2017-12-10T15:36:22Z","favicon_url":null}'
  recorded_at: Sun, 10 Dec 2017 15:36:23 GMT
recorded_with: VCR 4.0.0
