---
http_interactions:
- request:
    method: get
    uri: https://updown.io/api/checks/e4j4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - ePXULY6xLJ5XixzUSybU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"c202bb14ed0e88bb9358130293526f82"
      X-Proxy-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '{"token":"e4j4","url":"http://github.com","alias":"GitHub","last_status":200,"uptime":99.99,"down":false,"down_since":null,"error":null,"period":15,"apdex_t":0.25,"string_match":"","enabled":true,"published":true,"last_check_at":"2017-12-10T15:44:37Z","next_check_at":"2017-12-10T15:44:52Z","favicon_url":"https://assets-cdn.github.com/favicon.ico"}'
  recorded_at: Sun, 10 Dec 2017 15:44:50 GMT
- request:
    method: put
    uri: https://updown.io/api/checks/e4j4
    body:
      encoding: UTF-8
      string: period=30
    headers:
      X-Api-Key:
      - ePXULY6xLJ5XixzUSybU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"27cb47904c957a46560d952f9936e438"
    body:
      encoding: UTF-8
      string: '{"token":"e4j4","url":"http://github.com","alias":"GitHub","last_status":200,"uptime":99.99,"down":false,"down_since":null,"error":null,"period":30,"apdex_t":0.25,"string_match":"","enabled":true,"published":true,"last_check_at":"2017-12-10T15:44:37Z","next_check_at":"2017-12-10T15:44:52Z","favicon_url":"https://assets-cdn.github.com/favicon.ico"}'
  recorded_at: Sun, 10 Dec 2017 15:44:52 GMT
recorded_with: VCR 4.0.0
