---
http_interactions:
- request:
    method: get
    uri: https://updown.io/api/checks/e4j4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - ePXULY6xLJ5XixzUSybU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"7a4f50402e2f7aea10f288ad9cd7ab4c"
      X-Proxy-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '{"token":"e4j4","url":"http://github.com","alias":"GitHub","last_status":200,"uptime":99.99,"down":false,"down_since":null,"error":null,"period":15,"apdex_t":0.25,"string_match":"","enabled":true,"published":true,"last_check_at":"2017-12-10T14:54:45Z","next_check_at":"2017-12-10T14:55:00Z","favicon_url":"https://assets-cdn.github.com/favicon.ico"}'
  recorded_at: Sun, 10 Dec 2017 14:55:02 GMT
- request:
    method: get
    uri: https://updown.io/api/checks/e4j4/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - ePXULY6xLJ5XixzUSybU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"a8736c783aa43dbc51d14d880a618a47"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"apdex":0.852,"timings":{"redirect":164,"namelookup":1,"connection":73,"handshake":168,"response":161,"total":569},"requests":{"samples":206,"failures":19,"satisfied":164,"tolerated":23,"by_response_time":{"under125":70,"under250":164,"under500":187,"under1000":187,"under2000":187,"under4000":187}}}'
  recorded_at: Sun, 10 Dec 2017 14:55:04 GMT
recorded_with: VCR 4.0.0
