---
http_interactions:
- request:
    method: get
    uri: https://updown.io/api/checks/jx3y
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - ePXULY6xLJ5XixzUSybU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"e334771a44bd3a4374f21f58ebcc182f"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"token":"jx3y","url":"https://news.ycombinator.com/","alias":null,"last_status":200,"uptime":100.0,"down":false,"down_since":null,"error":null,"period":30,"apdex_t":0.5,"string_match":null,"enabled":true,"published":true,"last_check_at":"2017-12-10T15:51:58Z","next_check_at":"2017-12-10T15:52:28Z","favicon_url":"https://news.ycombinator.com/favicon.ico","ssl":{"tested_at":"2017-12-10T15:51:32Z","valid":true,"error":null}}'
  recorded_at: Sun, 10 Dec 2017 15:52:12 GMT
- request:
    method: delete
    uri: https://updown.io/api/checks/jx3y
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - ePXULY6xLJ5XixzUSybU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"1b70b1c98c544d975c39049311ab1d24"
    body:
      encoding: UTF-8
      string: '{"deleted":true}'
  recorded_at: Sun, 10 Dec 2017 15:52:13 GMT
- request:
    method: get
    uri: https://updown.io/api/checks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - ePXULY6xLJ5XixzUSybU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"10ff2a42e55ac60543e1dbc153db062a"
      X-Proxy-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '[{"token":"e4j4","url":"http://github.[...]
