---
http_interactions:
- request:
    method: get
    uri: https://updown.io/api/checks/e4j4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - ePXULY6xLJ5XixzUSybU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"e30b0c8e3094b3a41d3ede214bee833c"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"token":"e4j4","url":"http://github.com","alias":"GitHub","last_status":200,"uptime":100.0,"down":false,"down_since":null,"error":null,"period":120,"apdex_t":0.25,"string_match":"","enabled":true,"published":true,"last_check_at":"2017-12-10T11:08:40Z","next_check_at":"2017-12-10T11:10:40Z","favicon_url":"https://assets-cdn.github.com/favicon.ico"}'
  recorded_at: Sun, 10 Dec 2017 11:10:16 GMT
recorded_with: VCR 4.0.0
