---
http_interactions:
- request:
    method: get
    uri: https://updown.io/api/checks/e4j4?metrics=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - ePXULY6xLJ5XixzUSybU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"a035f716782663ee59ee4e992bd510ce"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"token":"e4j4","url":"http://github.com","alias":"GitHub","last_status":200,"uptime":100.0,"down":false,"down_since":null,"error":null,"period":120,"apdex_t":0.25,"string_match":"","enabled":true,"published":true,"last_check_at":"2017-12-10T14:23:53Z","next_check_at":"2017-12-10T14:25:53Z","favicon_url":"https://assets-cdn.github.com/favicon.ico","metrics":{"apdex":0.937,"timings":{"redirect":158,"namelookup":1,"connection":67,"handshake":160,"response":125,"total":512}}}'
  recorded_at: Sun, 10 Dec 2017 14:24:14 GMT
recorded_with: VCR 4.0.0
