---
http_interactions:
- request:
    method: get
    uri: https://updown.io/api/checks/e4j4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - ePXULY6xLJ5XixzUSybU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"ace9d9542feb66cb44e72a287f0c1e26"
      X-Proxy-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '{"token":"e4j4","url":"http://github.com","alias":"GitHub","last_status":200,"uptime":99.99,"down":false,"down_since":null,"error":null,"period":15,"apdex_t":0.25,"string_match":"","enabled":true,"published":true,"last_check_at":"2017-12-10T14:39:49Z","next_check_at":"2017-12-10T14:40:04Z","favicon_url":"https://assets-cdn.github.com/favicon.ico"}'
  recorded_at: Sun, 10 Dec 2017 14:39:51 GMT
- request:
    method: get
    uri: https://updown.io/api/checks/e4j4/downtimes?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - ePXULY6xLJ5XixzUSybU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"da51567f6446578d3c1c0e56e333ee69"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '[{"error":"no_match","started_at":"2017-12-10T14:35:58Z","ended_at":"2017-12-10T14:37:44Z","duration":106},{"error":"no_match","started_at":"2017-12-10T14:32:31Z","ended_at":"2017-12-10T14:34:55Z","duration":145}]'
  recorded_at: Sun, 10 Dec 2017 14:39:53 GMT
recorded_with: VCR 4.0.0
